
@{
    ViewData["Title"] = "UnitDetails";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="https://training.gov.au/Training/Details/ICTPRG523">
                    ICTPRG523 - Apply advanced programming skills in another language
                </a><div>Release: 1</div>
            </h6>
            <a class="text-primary" href="#">
                <div class="d-flex align-items-center"><i class="fas fa-plus-circle fa-fw"></i><span class="ml-2">Add</span></div>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mappable</th>
                            <th>Category</th>
                            <th>Item Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mappable</th>
                            <th>Category</th>
                            <th>Item Detail</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>1. Code using advanced data structures</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>1.1 Design dynamic data structures</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>1.2 Implement and use dynamic data structures, including double-linked lists and binary trees for coding</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>2. Code using advanced algorithms</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>2.1 Code using hashing techniques</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>2.2 Consider and record, the advantages and disadvantages, of at least three sorting algorithms</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>2.3 Code at least one sorting algorithm</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>2.4 Code advanced searching techniques for use with complex data structures</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>3. Write a simple multi-process application</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>3.1 Use features of the language that enable inter-process communication through at least one mechanism</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>3.2 Use features of the language that allow for operating system ‘signals’ to be captured and responded to</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>4. Use third-party libraries</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>4.1 Use a third-party library in the construction of an application</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>4.2 Reference third-party documentation</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>4.3 Use procedural techniques to write an application, to work within a graphical user interface (GUI) environment</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>5. Debug the code</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>5.1 Use integrated development environment (IDE) debugging facilities, or a stand-alone debugger</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>5.2 Use program debugging techniques to detect, and resolve, errors of syntactical, logical and design origin</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>6. Document activities</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>6.1 Use source-code version control</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>6.2 Adhere to guidelines for developing maintainable code, and to a set of provided coding standards</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>6.3 Apply suitable internal documentation to all the code created, using the tools available in the target language</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>7. Test the code</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>7.1 Design and document the tests to be undertaken</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>7.2 Undertake limited testing of the produced code, to ensure that it complies with the program specification</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>7.3 Capture the test results</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Elements and Performance Criteria</td>
                            <td>8. Create an application</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>8.1 Develop a solution, according to program-specification design document</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Elements and Performance Criteria</td>
                            <td>8.2 Design the algorithm, and construct, and test, the application in response to a problem description and language</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Foundation Skills - Reading</td>
                            <td>Interprets, and critically analyses, complex texts and applies the appropriate strategies to construct meaning from complex texts</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Foundation Skills - Writting</td>
                            <td>Communicates complex relationships between ideas and information, matching the style of writing to the purpose and audience, and displays a knowledge of structure and layout, employing a broad vocabulary, grammatical structure, and the conventions appropriate to text</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Foundation Skills - Get the work done</td>
                            <td>Accepts responsibility for planning and sequencing complex tasks and workload, negotiating key aspects with others, taking into account capabilities, efficiencies and effectiveness</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Foundation Skills - Get the work done</td>
                            <td>Uses systematic, analytical processes in complex, non-routine situations, setting goals, gathering relevant information, and identifying, and evaluating, options against the agreed criteria</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Foundation Skills - Get the work done</td>
                            <td>Uses analytical processes to decide on a course of action, establishing the criteria for deciding between options</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>Foundation Skills - Get the work done</td>
                            <td>Understands the key principles and concepts, underpinning the design and operation of digital systems and tools</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Performance Evidence</td>
                            <td>design and write code using dynamic data structures</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Performance Evidence</td>
                            <td>write code using hashing techniques, sorting algorithms and advanced searching techniques</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Performance Evidence</td>
                            <td>use language features that enable inter-process communication and responses to operating system signals</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Performance Evidence</td>
                            <td>use third-party libraries in the construction of an application, including referencing third-party documentation</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Performance Evidence</td>
                            <td>design and build an application program according to a design document</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Performance Evidence</td>
                            <td>test and debug code and resolve errors of a syntactical, logical and design origin</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Performance Evidence</td>
                            <td>produce documentation according to guidelines and standards.</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Knowledge Evidence</td>
                            <td>identify and describe a range of programming languages</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Knowledge Evidence</td>
                            <td>identify and describe languages for a GUI environment</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Knowledge Evidence</td>
                            <td>summarise the techniques for developing large-scale applications</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Knowledge Evidence</td>
                            <td>outline the procedures for programming with complex data structures</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Knowledge Evidence</td>
                            <td>describe the procedures for using a third-party supplied library, for standard programming features.</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Assessment Conditions</td>
                            <td>Gather evidence to demonstrate consistent performance in conditions that are safe and replicate the workplace. Noise levels, production flow, interruptions and time variances must be typical of those experienced in the programming and software development industry, and include access to:</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Assessment Conditions</td>
                            <td>the software development environment</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>Assessment Conditions</td>
                            <td>technical documentation.</td>
                            <td>
                                <div class="d-flex">
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                    </a>
                                    <a class="text-primary mr-3" href="#">
                                        <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i><span class="ml-2">Delete</span></div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

