
@{
    ViewData["Title"] = "UnitList";
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">All Units (as per <a href="https://training.gov.au/">training.gov.au/</a>)</h6>
        <a class="text-primary" href="#">
            <div class="d-flex align-items-center"><i class="fas fa-plus-circle fa-fw"></i><span class="ml-2">Add</span></div>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Unit Code</th>
                        <th>Unit Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Unit Code</th>
                        <th>Unit Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>ICTPRG604</td>
                        <td>Create cloud computing services</td>
                        <td>
                            <div class="d-flex">
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                </a>
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                </a>
                                <a class="text-primary" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i></i><span class="ml-2">Delete</span></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ICTPRG523</td>
                        <td>Apply advanced programming skills in another language</td>
                        <td>
                            <div class="d-flex">
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                </a>
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                </a>
                                <a class="text-primary" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i></i><span class="ml-2">Delete</span></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ICTPRG507</td>
                        <td>Implement security for applications</td>
                        <td>
                            <div class="d-flex">
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                </a>
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                </a>
                                <a class="text-primary" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i></i><span class="ml-2">Delete</span></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ICTICT418</td>
                        <td>Contribute to copyright, ethics and privacy in an ICT environment</td>
                        <td>
                            <div class="d-flex">
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                </a>
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                </a>
                                <a class="text-primary" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i></i><span class="ml-2">Delete</span></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ICTPRG402</td>
                        <td>Apply query language</td>
                        <td>
                            <div class="d-flex">
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                </a>
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                </a>
                                <a class="text-primary" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i></i><span class="ml-2">Delete</span></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ICTICT428</td>
                        <td>Select cloud storage solutions</td>
                        <td>
                            <div class="d-flex">
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                </a>
                                <a class="text-primary mr-3" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Edit</span></div>
                                </a>
                                <a class="text-primary" href="#">
                                    <div class="d-flex align-items-center"><i class="fas fa-trash-alt fa-fw"></i></i><span class="ml-2">Delete</span></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


