
@{
    ViewData["Title"] = "SubjectList";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Subjects</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>Deliver Sequence</th>
                            <th>Code</th>
                            <th>Subject Name</th>
                            <th>Qualification</th>
                            <th>Year<br />Semester</th>
                            <th>Assess Method</th>
                            <th>Teacher</th>
                            <th>Units</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Deliver Sequence</th>
                            <th>Code</th>
                            <th>Subject Name</th>
                            <th>Qualification</th>
                            <th>Year/Semester</th>
                            <th>Assess Method</th>
                            <th>Teacher</th>
                            <th>Units</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>S1</td>
                            <td>Programming for the Cloud</td>
                            <td>ICT50718</td>
                            <td>2020</td>
                            <td>Knowledge<br />Project</td>
                            <td>Qiao Li</td>
                            <td>
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>C/E</th>
                                            <th>CRN</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Nominal</th>
                                            <th>Supervised</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>E</td>
                                            <td>12505</td>
                                            <td>ICTPRG604</td>
                                            <td>Create cloud computing services</td>
                                            <td>60</td>
                                            <td>51</td>
                                        </tr>
                                        <tr>
                                            <td>C</td>
                                            <td>12504</td>
                                            <td>ICTPRG523</td>
                                            <td>Apply advanced programming skills in another language</td>
                                            <td>80</td>
                                            <td>65</td>
                                        </tr>
                                        <tr>
                                            <td>E</td>
                                            <td>12503</td>
                                            <td>ICTPRG507</td>
                                            <td>Implement security for applications</td>
                                            <td>50</td>
                                            <td>46</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a class="text-primary" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="text-success" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-download fa-fw"></i><span class="ml-2">Outline</span></div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="text-success" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-download fa-fw"></i><span class="ml-2">Assessments</span></div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="text-success" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-file-alt fa-fw"></i><span class="ml-2 text-nowrap">Mapping Report</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1F</td>
                            <td>Contribute to copyright, ethics and privacy in an ICT environment</td>
                            <td>ICT40518</td>
                            <td>2020</td>
                            <td>Knowledge<br />Project</td>
                            <td>Agnes Hennessy</td>
                            <td>
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>C/E</th>
                                            <th>CRN</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Nominal</th>
                                            <th>Supervised</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>C</td>
                                            <td>12654</td>
                                            <td>ICTICT418</td>
                                            <td>Contribute to copyright, ethics and privacy in an ICT environment</td>
                                            <td>40</td>
                                            <td>14</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a class="text-primary" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="text-danger" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Input Required</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>3C</td>
                            <td>Create a cloud database</td>
                            <td>ICT40518</td>
                            <td>2020</td>
                            <td>Knowledge<br />Observation</td>
                            <td>Qiao Li</td>
                            <td>
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>C/E</th>
                                            <th>CRN</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Nominal</th>
                                            <th>Supervised</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>C</td>
                                            <td>14132</td>
                                            <td>ICTPRG402</td>
                                            <td>Apply query language</td>
                                            <td>60</td>
                                            <td>48</td>
                                        </tr>
                                        <tr>
                                            <td>E</td>
                                            <td>14133</td>
                                            <td>ICTICT428</td>
                                            <td>Select cloud storage solutions</td>
                                            <td>40</td>
                                            <td>34</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a class="text-primary" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-eye fa-fw"></i><span class="ml-2">View</span></div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="text-danger" href="#">
                                            <div class="d-flex align-items-center"><i class="fas fa-edit fa-fw"></i><span class="ml-2">Input Required</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

